---
# Only the main Sass file needs front matter (the dashes are enough)
---

$serif              : "Zilla Slab", Bitter, Georgia, Times, serif;
$sans-serif-narrow  : "Fira Sans Extra Condensed", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;
$sans-serif         : $sans-serif-narrow;

$link-color: #496cb8;

a {
  text-decoration: underline;
}

/* extra style and color vars */

$inc-base-color: #12ce50;
$inc-border-color: #000;
$inc-border-radius: 10px;
$inc-shadow: 0 0.33em 1em rgba($inc-base-color, 0.33);

/* terminal syntax style */

$terminal-window-height: 30px;
.language-terminal {
  position: relative;
  margin-bottom: 1.5em;
  padding: calc(#{$terminal-window-height} + 1em) 1em 1em;
  border: 1px solid $inc-border-color;
  border-radius: $inc-border-radius;
  box-shadow: 0 0.25em 1em rgba($inc-base-color, 0.25);
  background-color: $inc-base-color;

  &::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $terminal-window-height;
    margin: 0;
    padding: (0.5 * $terminal-window-height) 0;
    background: mix($inc-base-color, #fff, 25%);
    color: mix($inc-base-color, #fff, 50%);
    font-size: (2 * $terminal-window-height);
    line-height: 0;
    text-indent: (0.5 * $terminal-window-height);
  }

  .highlight {
    margin: 0;
    padding: 0;
    background-color: initial;
    color: #fff;
  }
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials